<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.dominos" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.user.dominos.Jeu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.user.dominos.LaunchActivity"
            android:label="@string/title_activity_launch" >
        </activity>
        <activity
            android:name="com.example.user.dominos.ThemeActivity"
            android:label="@string/title_activity_theme" >
        </activity>
        <activity
            android:name="com.example.user.dominos.NiveauActivity"
            android:label="@string/title_activity_niveau" >
        </activity>
    </application>

</manifest>
